.header {
    background: var(--background-header);
    min-height: 40vh;
}

.header--innerbox {
    align-items: center;

}

.header--nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.header--ul {
    flex: 0 1 400px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header--ul>* {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

.active-menu-link {
    border-bottom: 3px solid var(--color-white);
}

.default-menu-link {

    border-bottom: none;
}









